In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("students.csv")

In [4]:
df.head()

  student_id          name                    major  score  year
0   cca8c1d5  SinhVien 208               Accounting   2.92     2
1   dcf972ad  SinhVien 288                  History   3.68     4
2   a3aaca46  SinhVien 899  Artificial Intelligence   3.49     3
3   a142708c  SinhVien 573                Chemistry   3.35     1
4   8f713b85  SinhVien 597                  Physics   2.18     2

In [5]:
sum = 0
for i in range(len(df)):
    sum += df.at[i, "score"]
average_score = sum / len(df)
print(average_score)

2.954900000000001

In [22]:
highest_score_student = df.at[0, "student_id"]
position = 0
for i in range(len(df)):
    if df.at[i, "score"] > df.at[position, "score"]:
        position = i
        highest_score_student = df.at[i, "student_id"]
print(highest_score_student)
print(df.at[position, "score"])
df["score"] = df["score"].astype(int)
print(df.info())

d0314395
4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  100 non-null    object
 1   name        100 non-null    object
 2   major       100 non-null    object
 3   score       100 non-null    int64
 4   year        100 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.0+ KB
None

In [26]:
unique_majors = df["major"].unique()
count_students = [0 for i in range(len(unique_majors))]
sum_by_majors = [0 for i in range(len(unique_majors))]
for i in range(len(df)):
    for j in range(len(unique_majors)):
        if df.at[i, "major"] == unique_majors[j]:
            sum_by_majors[j] += df.at[i, "score"]
            count_students[j] += 1
count_students_by_majors = pd.DataFrame(unique_majors, columns = ["majors"])
count_students_by_majors["students"] = count_students
count_students_by_majors["sum score"] = sum_by_majors
count_students_by_majors["average score"] = count_students_by_majors["sum score"] / count_students_by_majors["students"]
print(count_students_by_majors)

                     majors  students  sum score  average score
0                Accounting         7         18       2.571429
1                   History         6         14       2.333333
2   Artificial Intelligence         6         15       2.500000
3                 Chemistry         5         13       2.600000
4                   Physics         5         13       2.600000
5               Mathematics         5         14       2.800000
6                Literature         8         20       2.500000
7    Electrical Engineering         3          7       2.333333
8                 Economics        10         25       2.500000
9    Biomedical Engineering         4         11       2.750000
10                  Finance         7         16       2.285714
11                Marketing         5         14       2.800000
12   Mechanical Engineering         3          7       2.333333
13  Business Administration         3          8       2.666667
14                Sociology         6         15       2.500000
15         Computer Science         4         10       2.500000
16               Psychology         5         12       2.400000
17        Civil Engineering         4         10       2.500000
18             Data Science         4          9       2.250000