In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("orders.csv")

In [7]:
df.head()

       order_id          customer product  quantity   price  order_date
0  pro_0068ee0e       Ly Van Dung    comb         1   21000  2025-01-27
1  pro_0068ee0f   Nguyen Duc Tran  Mirror         3   80000  2025-01-23
2  pro_0068ee10        Pham Ba An    Lamp         6  120000  2025-02-01
3  pro_0068ee11         Le Ba Phu  Pencil         8   10000  2025-01-21
4  pro_0068ee12  Nguyen Trong Duc    Bomb         9  700000  2025-01-31

In [8]:
df["total"] = df["quantity"] * df["price"]
df.head()

,order_id,customer,product,quantity,price,order_date,total
0,pro_0068ee0e,Ly Van Dung,comb,1,21000,2025-01-27,21000
1,pro_0068ee0f,Nguyen Duc Tran,Mirror,3,80000,2025-01-23,240000
2,pro_0068ee10,Pham Ba An,Lamp,6,120000,2025-02-01,720000
3,pro_0068ee11,Le Ba Phu,Pencil,8,10000,2025-01-21,80000
4,pro_0068ee12,Nguyen Trong Duc,Bomb,9,700000,2025-01-31,6300000

In [9]:
total_income = sum(df["total"])
print(total_income)

97321000

In [23]:
unique_date = df["order_date"].unique()
count_by_day = [0 for _ in range(len(unique_date))]
for i in range(len(df)):
    for j in range(len(unique_date)):
        if df.at[i, "order_date"] == unique_date[j]:
            count_by_day[j] += 1
            break
df_count_per_day = pd.DataFrame({"date": unique_date, "number of orders": count_by_day})
df_count_per_day["date"] = pd.to_datetime(df_count_per_day["date"])
df_count_per_day = df_count_per_day.sort_values(by = "date")
print(df_count_per_day)

         date  number of orders
6  2025-01-01                 2
23 2025-01-02                 6
22 2025-01-03                 1
24 2025-01-04                 2
14 2025-01-05                 3
28 2025-01-06                 1
8  2025-01-10                 8
15 2025-01-11                 4
5  2025-01-12                 5
9  2025-01-13                 1
7  2025-01-14                 3
18 2025-01-15                 4
16 2025-01-16                 5
11 2025-01-17                 5
19 2025-01-18                 3
12 2025-01-19                 6
27 2025-01-20                 2
3  2025-01-21                 5
10 2025-01-22                 1
1  2025-01-23                 4
13 2025-01-24                 5
20 2025-01-25                 3
26 2025-01-26                 3
0  2025-01-27                 2
25 2025-01-28                 4
21 2025-01-29                 3
17 2025-01-30                 1
4  2025-01-31                 3
2  2025-02-01                 5

In [24]:
income_by_day = [0 for _ in range(len(unique_date))]
for i in range(len(df)):
    for j in range(len(unique_date)):
        if df.at[i, "order_date"] == unique_date[j]:
            income_by_day[j] += df.at[i, "total"]
            break
df_income_per_day = pd.DataFrame({"date": unique_date, "income": income_by_day})
df_income_per_day["date"] = pd.to_datetime(df_income_per_day["date"])
df_income_per_day = df_income_per_day.sort_values(by = "date")
print(df_income_per_day.head())
max_income_row = df_income_per_day.loc[df_income_per_day['income'].idxmax()]
print("the most revenue day: ", max_income_row['date'])
print("income: ", max_income_row['income'])

         date   income
6  2025-01-01   150000
23 2025-01-02  6070000
22 2025-01-03   540000
24 2025-01-04  1074000
14 2025-01-05  3317000
the most revenue day:  2025-01-10 00:00:00
income:  12683000

In [27]:
unique_product = df["product"].unique()
quality_by_product = [0 for _ in range(len(unique_product))]
for i in range(len(df)):
    for j in range(len(unique_product)):
        if df.at[i, "product"] == unique_product[j]:
            quality_by_product[j] += 1
            break
df_quality_by_product = pd.DataFrame({
    "product": unique_product,
    "quality": quality_by_product
})
print(df_quality_by_product.head())

  product  quality
0    comb        3
1  Mirror        5
2    Lamp        5
3  Pencil        3
4    Bomb        7